@{
    ViewBag.Title = "About";
}

<div class="container">
	<div class="row">
		<div class="col-lg-6" style="padding-top:12px;">
			<p>
				S.E.T.S. is a Turnkey Contractor with an experience in the field of PHARMA years and has evolved with Enthusiastic energy to serve the market with extreme quality maintenance along with the customer satisfactions regarding the services of various products.
			</p>
			<p>
				The company has the experience in executing the projects right from the designing stage till the hand overring with immense interest and dedication towards work. The company has the expertise in all the aspects such as designing and executing the works of <strong>HVAC, ELECTRICAL, INTEROIRS, OFFICE FURNITURE, LABORATORY FURNIUTRE, FUMEHOODS, EXHAUST SYSTEMS, UTILITIY LINES (GAS DISTRIBUTION SYSTEMS , WATER SUPPLY), WATER TREATEMENT PLANTS, LOW VOLTAGE SYSTEMS, PUBLIC ADDRESSING SYSTEMS, FIRE HIRDANT SYSTEMS, BMS (BUILDING MANAGEMENT SYSTEMS).</strong>
			</p>
			<p>
				S.E.T.S. is a Hyderabad based supply and service providing company. We are a team of professionals, who understand the needs of customer and trying to full-fill them with appropriate time and quality for their satisfaction at a suitable price.
			</p>
		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<img src="~/Images/download.jfif" style="width:100%;height:50%;padding-top:12px;" />
					
					<img src="~/Images/images (4).jfif" style="width:100%;height:50%;padding-top:12px;" />
				</div>
				<div class="col-lg-6">
					<img src="~/Images/download (4).jfif" style="width:100%;height:50%;padding-top:12px;" />
					<img src="~/Images/download.jfif" style="width:100%;height:50%;padding-top:12px;" />
				</div>
			</div>
		</div>
	</div>
</div>
