@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
	<div class="col-lg-4">
		<address>
			V.Hemanth,<br />
			Ho.No 12-6-2/226,<br />
			Near sivalayam,<br />
			Kukatpally mc,<br />
			Hyderabad.<br />
			Telangana state<br />
			Pin 500072<br />
			<abbr title="Phone">P:98499 08449</abbr>
		</address>

		<address>
			<strong>Support:</strong>   <a href="mailto:shastha.info@gmail.com">shastha.info@gmail.com</a><br />
			<strong>Marketing:</strong> <a href="mailto:hmtvda@gmail.com">hmtvda@gmail.com</a>
		</address>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-12">
			<table>
				<tr>
					<td>
						Name :
					</td>
					<td >
						<input type="text"  placeholder="Name" />
					</td>
				</tr>
				<tr>
					<td>
						Contact : 
					</td>
					<td>
						<input type="text"  placeholder="Contact" />
					</td>
				</tr>
				<tr>
					<td>
						Email :
					</td>
					<td>
						<input type="text"  placeholder="Email" />
					</td>
				</tr>
				<tr>
					<td>
						Details :
					</td>
					<td>
						<textarea class="span6" rows="6" cols="50" style="width:280px" placeholder="" required></textarea>
					</td>
				</tr>
				
			</table>
			<br />
			<br/>
			<input type="submit" class="btn-primary" name="Submit" />
	</div>
	</div>
	<div class="col-lg-4">
	
				<!--Card-->
				<div class="card card-cascade narrower">

					<!--Card image-->
					@*<div class="view view-cascade gradient-card-header peach-gradient">
						<h5 class="mb-0">Custom map</h5>
					</div>*@
					<!--/Card image-->
					<!--Card content-->
					<div class="card-body card-body-cascade text-center ">

						<!--Google map-->
						<div id="map-container-google-9" class="z-depth-1-half map-container-5 embed-responsive embed-responsive-16by9" style="height: 300px">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237.84616379691457!2d78.4131672115867!3d17.481783456829767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91bb5367a1f7%3A0xbe73cb0192a88cff!2sVivek+Nagar%2C+Kukatpally%2C+Hyderabad%2C+Telangana+500072!5e0!3m2!1sen!2sin!4v1560523176578!5m2!1sen!2sin" frameborder="0" height="300px"
									style="height: 280px;    border: 0;    width: 710px;" allowfullscreen></iframe>
						</div>
						


					</div>
					<!--/.Card content-->

				</div>
				<!--/.Card-->

			
			<!--Grid column-->


	</div>
</div>